.postLayout {
  padding: 1rem;
  background: rgba(255, 255, 255, 1);
  border-radius: 1rem;
  overflow: hidden;
}

.postLink {
  margin: 2rem;
}

.eachPostLayout {
  background: rgba(255, 255, 255, 1);
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
}
